/* https://www.htmldog.com/guides/css/intermediate/classid/#:~:text=In%20the%20CSS%2C%20a%20class,character%20(%E2%80%9C%23%E2%80%9D).&text=The%20difference%20between%20an%20ID,to%20identify%20more%20than%20one. */
/* https://coolors.co/palettes/trending css colors */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

:root {
    --red: #b00;
    --blue: #00b;
    --one: #6d6875;
    --fullwidth: 100%;

    --tan: black; /* #f2e9e4 */
    --back: white;
    --labeler: gray;
    --linkTitles: #ffcb69;
    --links: #bdd5ea;
    --linkHover: #d08c60;
}

strong {
    color: var(--labeler);
}

img {
    width: 100px;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--back);
    font-family: 'Roboto Mono', sans-serif;
    color: var(--tan);
    height: 100%;
    margin: 0;
}


ul {
    list-style-type: none;
}

li {
    margin: 0 0 10px 0
}

a:link { 
    color: var(--links); 
    text-decoration: none;
}

a:visited { 
    color: var(--linkHover); 
    text-decoration: none;
}

a:hover { 
    color: var(--linkHover); 
    text-decoration: none;
}

.font-effect-anaglyph {
    font-family: 'Arial', serif;
    font-size: 48px;
}

/* can you delete this?*/
a {  
    text-decoration: none;
}


.top-background {
    background-image: url(../images/mtn.jpg);
    /* Full height */
    height: 600px; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}



/* Find white icon */
.icon {
    width: 60px;
}

.t {
    height: 50px;
    width: 100%;
    background-color: #d08c60;
}