/* https://www.htmldog.com/guides/css/intermediate/classid/#:~:text=In%20the%20CSS%2C%20a%20class,character%20(%E2%80%9C%23%E2%80%9D).&text=The%20difference%20between%20an%20ID,to%20identify%20more%20than%20one. */
/* https://coolors.co/palettes/trending css colors */

:root {
    --red: #b00;
    --blue: #00b;
    --one: #6d6875;
    --fullwidth: 100%;

    --tan: #b3b3a7; /* #f2e9e4 */
    --back: #1d3557;
    --labeler: tan;
    --linkTitles: #ffcb69;
    --links: #bdd5ea;
    --linkHover: #d08c60;
}

strong {
    color: var(--labeler);
}

body {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-top: 30px;
    background: var(--back);
    font-family: 'Roboto Mono', sans-serif;
    color: var(--tan);
}
.resume {
    padding-left: 20px;;
}

.email {
    padding-right: 20px;
}

.top {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.top-img {
    border-radius: 50%; 
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
}

.top-links {
    font-size: 12px;
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
}

li {
    margin: 0 0 10px 0
}

a:link { 
    color: var(--links); 
    text-decoration: none;
}

a:visited { 
    color: var(--linkHover); 
    text-decoration: none;
}

a:hover { 
    color: var(--linkHover); 
    text-decoration: none;
}

.font-effect-anaglyph {
    font-family: 'Arial', serif;
    font-size: 48px;
}

a {  
    text-decoration: none;
}
  
.footer {
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}